name: Deploy Android

on:
  push:
    branches:
      - main
    paths:
      - 'UI/**'
  workflow_dispatch:

jobs:
  build:
    name: EAS Build Android Production
    runs-on: ubuntu-latest
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: yarn
          cache-dependency-path: UI/yarn.lock

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        working-directory: UI
        run: yarn install --frozen-lockfile

      - name: Trigger EAS Build
        working-directory: UI
        run: eas build --platform android --profile production --non-interactive --no-wait
